*
{
    margin: 0;
    padding: 0;
}

.nav
{
    width: 100%;
    height: 10vh;
    background-color: #efefef;
}

.logo img
{
    height: 18vh;
    float: left;
    margin: 10px;
}
.navbar 
{
    float: right;
    line-height: 10vh;
}
.navbar ul li
{
    display: inline-block;
    margin-right: 30px;
    font-size: 14pt;
}
.main-container
{
    background-color: #e7ba04;
    height: 90vh;
    width: 100%;
    /* position: relative; */
}

.text
{
    position: absolute;
    top: 40%;
    left: 10%;
    line-height: 50px;
}

.text h1
{
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    
}

.text h1 a
{
    font-size: 40pt;
    font-family: 'Roboto', sans-serif;
}

#para
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

#para2
{
    line-height: 20px;
}

.hero-img img
{
    position: absolute;
    top: 15%;
    right: 5%;
    width: 620px;
    height: 540px;
    border-radius: 50%;
    background-color: #d6ab00;
    
}

button
{
    position: absolute;
    top: 50%;
    left: 10%;
}
/* 
.hero-img
{
    transform: rotate(315deg);
} */